/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;

  /* background */
  background: url("https://images.unsplash.com/photo-1542751371-adc38448a05e")
    center/cover no-repeat;

  position: relative;
}

/* overlay (dark effect) */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* content فوق overlay */
.hero * {
  position: relative;
  z-index: 1;
}

/* TITLE */
.hero h1 {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
}

/* كلمة Adventure */
.adv {
  color: #3b82f6;
}

/* PARAGRAPH */
.hero p {
  margin-top: 20px;
  max-width: 600px;
  color: #cbd5e1;
  font-size: 18px;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

/* BUTTON GENERAL */
button {
  padding: 12px 25px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

/* PRIMARY */
button {
  background: #2563eb;
  color: white;
}

/* SECONDARY */
button.secondary {
  background: #1e293b;
}

/* HOVER */
button:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}